# SPDX-FileCopyrightText: Yalan Zhang
#
# SPDX-License-Identifier: CC0-1.0
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: trusted-cluster-scc
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegedContainer: true
allowPrivilegeEscalation: false
allowedCapabilities: []
defaultAddCapabilities: []
fsGroup:
  type: RunAsAny
priority: 10
readOnlyRootFilesystem: false
requiredDropCapabilities:
- KILL
- MKNOD
- SETUID
- SETGID
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
volumes:
- configMap
- downwardAPI
- emptyDir
- image
- persistentVolumeClaim
- projected
- secret
users:
- system:serviceaccount:demo-cocl:trusted-cluster-operator
